{% extends 'base.html' %} {% block content %}
<h2>{{ category.name }}</h2>

{% if products %}
<div class="row">
  {% for product in products %}
  <div class="col-md-4 mb-3">
    <div class="card p-3 h-100">
      <h5>{{ product.name }}</h5>
      <p>{{ product.price }} TL</p>

      {% if product.image %}
      <a href="{% url 'products:product_detail' product.slug %}">
        <img
          src="{{ product.image.url }}"
          alt="{{ product.name }}"
          class="img-fluid mb-3"
        />
      </a>
      {% endif %}

      <a href="{% url 'products:product_detail' product.slug %}">
        Detaya Git
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>Bu kategoride ürün bulunamadı.</p>
{% endif %} {% endblock %}
